body {
    margin: 2em 0em;
}

.console {
    width: 80%;
    height: 25em;
}

.editor-form {
    display: flex;
    justify-content: center;
}

.editor-container {
    display: flex;
    flex-direction: column;
    width: 80%
}

.editor {
    height: 50em;
}
