body {
    font-family: 'Lucida Console', Monaco, monospace;
    margin: 0;
    padding: none;
}

.emscripten {
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.emscripten {
    text-align: center;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten {
    border: 0px none;
    background-color: black;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

canvas.emscripten:focus {
    outline: none;
}

.spinner {
    height: 30px;
    width: 30px;
    margin: 0;
    display: inline-block;
    vertical-align: top;

    -webkit-animation: rotation .8s linear infinite;
    -moz-animation: rotation .8s linear infinite;
    -o-animation: rotation .8s linear infinite;
    animation: rotation 0.8s linear infinite;

    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-top: 5px solid #36bc98;

    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#status {
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    margin-left: 10px;
    color: #34495e;
}

.container {
    position: relative;
    display: block;
    text-align: center;
}

.hidden {
    display: none;
}
